<nav class="navbar navbar-expand-lg bg-white shadow-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ url('<front>') }}">
      Frozen Ice Cream
    </a>

    <div class="d-lg-none">
      <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#BookingModal">Reservation</button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      {{page.navigation}}
    </div>

    <div class="d-none d-lg-block">
      <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#BookingModal">Reservation</button>
    </div>

  </div>
</nav>

<main>

  <header class="site-header site-news-detail-header">
    {% if page.branding %}
    <!-- create block and paste in this region with this class-->
    {#<div class="container">
      <div class="row">

        <div class="col-12">
          <h2>Learning a fine dining experience</h2>
        </div>

      </div>
    </div>#}
      {{page.branding}}
    {% endif %}
  </header>
  {% if page.content %}
    {#<section class="news-detail section-padding pt-0">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-12">
            <img src="images/news/news-detail-header.jpg" class="img-fluid news-detail-image"
              alt="fine dining experience">

            <div class="col-lg-10 col-10 mx-auto mt-5">

              <h4 class="mb-3">The best fine-dining experience at Crispy Kitchen</h4>

              <p>Phasellus in augue at quam ornare malesuada. Sed magna lorem, dapibus nec lorem sed, pretium vulputate
                ante. In porttitor sapien urna, eu vulputate arcu pharetra non. Vivamus nec nulla quis leo sodales semper.
                Quisque sed ultricies tortor. Fusce porta pretium tellus, sit amet vulputate orci.</p>

              <ul class="list">
                <li class="list-item">Pasta stats published in the International</li>

                <li class="list-item">Rice flour, or legumes such as beans</li>

                <li class="list-item">Belgian family developed major food poisoning symptoms</li>
              </ul>

              <p>Pasta is a type of food typically made from an unleavened dough of wheat flour mixed with water or eggs,
                and formed into sheets or other shapes, then cooked by boiling or baking. Rice flour, or legumes such as
                beans or lentils, are sometimes used in place of wheat flour to yield a different taste</p>

              <div class="ratio ratio-16x9 my-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6vebbDZxoKE?controls=0"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>

              <p>Crispy Kitchen is free Bootstrap 5 HTML template provided by Tooplate. You are free to use this layout
                for commercial purposes. You are NOT allowed to redistribute the template ZIP file on any template
                donwnload website. Please <a href="https://www.tooplate.com/contact" target="_blank">contact us</a> for
                more information.</p>

              <h5 class="mt-4 mb-3">Pasta with Cream Sauce Recipe</h5>

              <p>Pasta is a type of food typically made from an unleavened dough of wheat flour mixed with water or eggs,
                and formed into sheets or other shapes, then cooked by boiling or baking. Rice flour, or legumes such as
                beans or lentils, are sometimes used in place of wheat flour to yield a different taste</p>
            </div>
          </div>

        </div>
      </div>
    </section>#}
    {{page.content}}
  {% endif %}

  {% if page.featured %}
    {{ page.featured }}
    <!-- create custom block with this cod and paste in the page.featured region   -->
    {#<section class="newsletter section-padding">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-12">
            <img src="images/charles-deluvio-FdDkfYFHqe4-unsplash.jpg" class="img-fluid newsletter-image" alt="">
          </div>

          <div class="col-lg-6 col-12 d-flex align-items-center mt-5 mt-lg-0 mx-auto">
            <div class="subscribe-form-wrap">
              <h4 class="mb-0">Our Newsletter</h4>

              <p>The food news every day</p>

              <form class="custom-form subscribe-form mt-4" role="form">
                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*"
                  class="form-control" placeholder="Your email address" required="">

                <button type="submit" class="form-control mb-3" id="subscribe">Subscribe</button>

                <small>By signing up, you agree to our Privacy Notice and the data policy</small>
            </div>
            </form>
          </div>
        </div>

      </div>
      </div>
    </section>#}
  {% endif %}

</main>

<footer class="site-footer section-padding">

  <div class="container">

    <div class="row">

      <div class="col-12">
        <h4 class="text-white mb-4 me-5">Frozen Ice Cream</h4>
      </div>
      <!-- create custom block with this code and paste in the footer first -->
      {% if page.footer_first %}
        {# <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
          <h6 class="text-white mb-lg-4 mb-3">Location</h6>

          <p>121 Einstein Loop N, Bronx, NY 10475, United States</p>

          <a href="https://goo.gl/maps/wZVGLA7q64uC1s886" class="custom-btn btn btn-dark mt-2">Directions</a>
        </div>#}
        {{ page.footer_first }}
      {% endif %}

      {% if page.footer_second %}

      <!-- create custom block with this code paste this in the footer second  -->
        {#<div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
          <h6 class="text-white mb-lg-4 mb-3">Opening Hours</h6>

          <p class="mb-2">Monday - Friday</p>

          <p>10:00 AM - 08:00 PM</p>

          <p>Tel: <a href="tel: 010-02-0340" class="tel-link">010-02-0340</a></p>
        </div>#}
        {{page.footer_second}}
      {% endif %}

      {% if page.footer_third %}
            <!-- create custom block with this code paste this in the  footer third-->
        {#<div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
          <h6 class="text-white mb-lg-4 mb-3">Social</h6>

          <ul class="social-icon">
            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
          </ul>

          <p class="copyright-text tooplate-mt60">Copyright © 2022 Crispy Kitchen Co., Ltd.
            <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a>
          </p>

        </div>#}
        {{ page.footer_third }}
      {% endif %}
    </div><!-- row ending -->

  </div><!-- container ending -->

</footer>